# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.mvn/
/target/
.DS_Store
.project
/settings
.classpath
/.settings
demo-bff/.classpath
demo-bff/.project
demo-be/.attach_pid108362
demo-be/.attach_pid127063
demo-be/.attach_pid128137
demo-be/.attach_pid131946
demo-be/.attach_pid147517
demo-be/.attach_pid176137
demo-bff/.attach_pid51476
demo-bff/.attach_pid57140
demo-bff/.sts4-cache/

